*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}



h1{
    color:rgb(4, 124, 158)
}



.cardSeguros{
    width: 90%;
    max-width: 350px;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10%;
    text-align: center;
    background-color: white;
    max-height: 700px;
}
.imagenCard {
    width: 180px;
    height: 250;
}
.tituloCard{
    color: rgba(156, 156, 213, 0.735);
}

.row{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#botonOscuro{
   font-size: 15px;
   color: white;
   border: 4px solid white;
   border-radius: 8%;
   background-color: black;
   padding: 5px;

}
.darkMode{
    color: white;
    background-color: black;
    font-size: 15px black;
}
.card-e{
color: rgb(35, 42, 78);
}

.cotiza{
    width: 45px;
    height: 45px;
}
